body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

header {
  text-align: center;
}

figure {
  text-align: center;
  font-size: 10px;
}

header nav {
  padding: 20px;
  color: grey
}

img {
  font-size: 5px;
}

p#featured-property {
  width: 800px;
  text-align: center;
}

section#details {
  display: block;
}

div {
  background-color: blue;
  text-align: center;
  float: left;
  width: 25%
}
